.introCard {
  box-sizing: border-box;
  margin-top: 90px;
  width: 100vw;
  height: calc(100vh - 90px);
  background-color: rgb(0, 0, 0);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-position: center;
  background-size: 100%;
  color: white;
  align-items: center;
}

.introCard h1 {
  font-family: The Nautigal;
  z-index: 1;
  margin-top: 200px;
  margin-bottom: 0;
  font-size: 150px;
  color: black;
  text-shadow: 0 0 10px white;
}

.introCard p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.intro {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: black;
  z-index: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fade 4s infinite normal
}

@keyframes fade{
  0% {opacity: 0;}
  10% {opacity: 0;}
  25% {opacity: 100;}
  50% {opacity: 100;}
  75% {opacity: 100;}
  90% {opacity: 100;}
  100% {opacity: 0;}
}



.intro img {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .introCard {
    box-sizing: border-box;
    height: calc(100vh - 100px);
    margin: 0;
    margin-top: 90px  ;
  }

  .contactCard {
    box-sizing: border-box;
    width: 100vw;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    border-radius: 0;
    padding: 0px 15px;
    border: 0;
  }

  .contactCardTitle {
    font-size: 40px;
    text-shadow: 0px 5px 3px rgb(149, 160, 255);
  }

  .contactName {
    text-align: center;
    font-size: 30px;
  }

  .introCard img {
    display: none;
  }

  .contactInfo {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }

  .contactPhone {
    margin: 5px 0;
    font-size: 30px;
    color: rgb(15, 73, 0);
  }

  .contactCard h4 {
    text-align: center;
  }

  .contactAddress {
    font-size: 25px;
    text-decoration: none;
  }

  .hoursSpace {
    display: none;
  }
}