.genInfoPage {
  position: relative;
  height: 200vh;
  text-align: center;
  background-color: white;
  z-index: 1;
  color: black;
  padding: 20px 0;
}

.genInfoPage p {
  margin: 0;
}

.background {
  position: absolute;
  width: 100vw;
  height: 400px;
  z-index: -98;
}

.top {
  top: 0;
  background-color: rgb(173, 154, 255);
}

.header {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  padding: 25px;
  font-family: The Nautigal;
  font-size: 60px;
}

.text {
  margin: 0;
  font-size: 18px;
  padding: 25px 150px;
  line-height: 1.5;
}

@media screen and (max-width: 480px) {
  .genInfoPage {
    display: none ;
  }
}