.card {
  box-sizing: border-box;
  width: 375px;
  height: 250px;
  box-shadow: 0px 0px 7px rgb(77, 77, 77);
  transition: ease-in-out .3s;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0px 0px 10px black;
}

.card:hover img {
  transform: scale(2);
}

.card img {
  transition: ease-in-out .3s;
}

.card h3 {
  margin: 0;

}

.cardOuter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardOuter:hover h3{
  color: rgb(0, 60, 255);
}

@media screen and (max-width: 480px) {
  .card {}
}
