nav {
  box-sizing: border-box;
  height: 90px;
  width: 100vw;
  background-color: black;
  box-shadow: 0 0 10px black;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

nav h1 {
  margin: 0;
  font-family: The Nautigal;
  color: white;
  font-size: 55px;
  transition: .2s ease-in-out;
}

nav h1:hover {
  color: rgb(93, 117, 255);
  text-shadow: 3px 3px rgb(78, 78, 78);
  cursor: pointer;
}

nav button {
  border: 0;
  border-radius: 25px;
  font-size: 20px;
  transition: .2s ease-in-out;
}

.navRight {
  display: flex;
}

.searchBtn {
  width: 45px;
  height: 45px;
  margin-left: 15px;
  background-color: rgb(255, 255, 255);
}

.searchBtn:hover {
  background-color: rgb(199, 253, 253);
}

.menu {
  position: relative;
}

.menuBtn {
  width: 45px;
  height: 45px;  
  margin-left: 15px;
  background-color: rgb(0, 0, 0);
  color: white
}

.menuBtn:hover {
  color: gray;
}

.searchBox {
  position: relative;
}

.search {
  position: absolute;
  right: 75px;
  bottom: 3px;
  width: 400px;
  height: 40px;
  transition: .5s ease-in-out;
}

.search {
  opacity: 0;
  transform: scale(0);
}

.search.isVisible {
  opacity: 100;
  transform: scale(1);
}

@media screen and (max-width: 480px) {
  .searchBtn, .browseBtn, .consultBtn {
    display: none;
  }

  nav {
    padding: 0 10px;
  }

  nav h1 {
    font-size: 40px;
  }

  .menuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }

  .menuIcon {
    height: 100%;
    width: 100%;
  }
}